    body {
        font-family: Arial;
        background: #d8eef6;
        display: flex;
        justify-content: center;
    }
    .container {
        background: #fff;
        padding: 30px 40px;
        border-radius: 50px;
        outline: #003c7c solid 3px;
        width: 350px;
        height: auto;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        color: #003c7c;
        text-align: center;
        margin-bottom: 2px;
    }
    label {
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="date"], select, [type="tel"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    button {
        width: 100%;
        padding: 10px;
        background: #003c7c;
        color: #f4f4f4;
        border-radius: 20px;
        font-size: 16px;
        transition: background 0.3s, color 0.3s;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover {
        background: #f4f4f4;
        color: #003c7c;
    }
